@model List<TestTakip.EntityLayer.Concrete.Emplyoee>
@{
    ViewData["Title"] = "TMKList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">TMK</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">TMK</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Personel</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Personel</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    @*<th scope="col">Sıra No</th>*@
                                    <th scope="col">Personel Adı</th>
                                    <th scope="col">TC Kimlik No</th>
                                    <th scope="col">Birimi</th>
                                    <th scope="col">Unvan</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    @if (item.Department == "TMK")
                                    {
                                        <tr>
                                            @*<td>@item.EmplyoeeId</td>*@
                                            <td>@item.EmplyoeeName</td>
                                            <td>@item.RegistrationId</td>
                                            <td>@item.Department</td>
                                            <td>@item.Position</td>
                                            <td><a href="/Emplyoees/DeleteTMKEmplyoee/@item.EmplyoeeId" class=" btn btn-danger">Delete</a></td>
                                            <td><a href="/Emplyoees/UpdateTMKEmplyoee/@item.EmplyoeeId" class=" btn btn-success">Update</a></td>


                                        </tr>
                                    }


                                }


                            </tbody>
                        </table>
                        <a href="/Emplyoees/CreateTMKEmplyoee" class=" btn btn-primary">Personel Ekle</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





