@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<TestTakip.EntityLayer.Concrete.Job>
@{
    ViewData["Title"] = "TMKJobList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">TMK</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">TMK</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Görev</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">TMK</h4>
                           
                        </div>
                        <a href="/Jobs/CreateTMKJob" class="float-end btn btn-primary me-md-2">Görev Ekle</a>
                    </div>
                    <div class="card-body">
          
                        <div class="table-responsive">
                            <table id="Görev Ekle"
                                   class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Sıra</th>
                                        <th>Personel</th>
                                        <th>Test Tarihi</th>
                                        <th>Test Adı</th>
                                        <th>Santral</th>
                                        <th>Şehir</th>
                                        <th>Açıklama</th>
                                        <th>Güncelle</th>
                                        <th>Sil</th>

                                    </tr>
                                </thead>
                               
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if (item.TestName == "TMK")
                                        {
                                            <tr>
                                                <td>@item.JobId</td>
                                                <td>@item.EmplyoeeName</td>
                                                <td>@item.JobDate</td>
                                                <td>@item.TestName</td>
                                                <td>@item.PowerPlantName</td>
                                                <td>@item.City</td>
                                                <td>@item.Description</td>

                                                <td><a href="/Jobs/UpdateTMKJob/@item.JobId" class=" btn btn-success">Update</a></td>
                                                <td><a href="/Jobs/DeleteTMKJob/@item.JobId" class=" btn btn-danger">Delete</a></td>
                                            </tr>

                                        }
                                    }



                                </tbody>
                            </table>
                            @Html.PagedListPager((IPagedList)Model,page => Url.Action("TMKJobList",new{page}),new PagedListRenderOptions
                            {
                            LiElementClasses=new List<string>
                            {"page-link"}
                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




